//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at https://mozilla.org/MPL/2.0/.
meta(name='viewport' content='initial-scale = 1.0, minimum-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width')
meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
link(rel='stylesheet' type='text/css' href='assets/player/styles.css')
