//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at https://mozilla.org/MPL/2.0/.
doctype html
head
  include includes/head.pug
  title Zen Home
body
  div(style="width:100vw,height:100vh")
    video(controls loop=true autoplay=true src="https://static.govtech.agency/share/Examples-of-Recursion-gWnNIi.m4v")

