//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at https://mozilla.org/MPL/2.0/.
doctype html
head
  include includes/head.pug
  title Examples of Recursion
body
  div(style="width:100%; height:100%; top:0; bottom:0; overflow: hidden; position: absolute;")
    video(controls loop=true autoplay=true src="https://static.govtech.agency/share/Examples-of-Recursion-gWnNIi.m4v" style="min-width: 100%; min-height: 100%; width: 100%; height: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);")

