//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at https://mozilla.org/MPL/2.0/.
doctype html
head
  h1 174 Home Network
  a(href='https://174.zenquah.dev:8443') UniFi Controller
  hr
  a(href='https://github.com/Jqnxyz') GitHub